// Specific CSS for your home-page
.search-home {
  width: 900px;
  margin-top: 50px;
}

#form-homepage {
  margin-right: 10px;
  font-size: 20px;
}


.map-container {
  margin: 50px;
}

.elegant-bottom-lign {
  border-bottom: 1px solid grey;
  // box-shadow: 0 4px 2px -2px gray;
  padding: 20px;
}

.elegant-bottom-lign, h1 {
  font-weight: 300;
  // margin-top: 50px;
}
