<div id="<%= dom_id(booking) %>">
  <p>
    <strong>Status:</strong>
    <%= booking.status %>
  </p>

  <p>
    <strong>Cruise:</strong>
    <%= booking.cruise_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= booking.customer_id %>
  </p>

</div>
