.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #0467c4;
  color: white;
}

.btn-white {
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: bold;
  padding: 8px 24px;
  margin-right: 48px;
  font-weight: regular;
}
