.navbar-lewagon {
  justify-content: space-between;
  background: #00B5FE;

  height: 100px;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
  margin-left: 70px;
}

#navbarWelcome {
  color: white;
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
}
