.navbar-lewagon {
  justify-content: space-between;
  background: #0A92F5;
  height: 100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
}

#navbarWelcome {
  color: white;
}
